@import "tailwindcss";
@import "swiper/css";

@import "swiper/css/navigation";
@import "swiper/css/pagination";
 @plugin "daisyui" {
   themes: light --default;
 }
 @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #7B5CF6;
  /* btn */
  --color-secondary: #0C051A;
  /* text */
  --color-base-100: #f7f7f7; 
  /* bg */

}

a.active{
  color:#7B5CF6 ;
}